<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<style>

</style>
<body>
    <div>
        <nav>
            <span><a href="/">EMR app</a></span>
            <a  href="/add" title="Add a new patient">Add patient</a>
        </nav>  
