<% include partials/header.ejs %>

<div>
    <h1>Connect Google Authenticator</h1>
    <p>Scan QR code</p>
</div>

<div>
    <form method="post">
        <%- qr %>
        <button type="submit">Continue</button>
    </form>
</div>
