<%- include ('partials/header.ejs'); -%>

<div class="container-fluid">
    <form action="" method="post" enctype="multipart/form-data">
        <select name="role" id="role">
            <option selected disabled>Choose role</option>
            <option value="Doctor">Doctor</option>
            <option value="Nurse">Nurse</option>
            <option value="Patient">Patient</option>
        </select>
        <button type="submit" class="">Update Role</button>
    </form>
</div>

</div>
</body>
</html>