<%- include ('partials/header.ejs'); -%>
    <div class="container-fluid"> 
        <a  href="/addAllergy/<%= allergy.id %>" class="btn btn-primary btn-sm" title="Add a new allergy">Add allergy</a>

        <% if (allergy.length > 0) {%> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% allergy.forEach((allergy, allergies) => { %>
                        <tr>
                            <th scope="row"><%= allergy.id %></th>
                            <td><%= allergy.name %> </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No Allergies found.</p>
        <% } %>
    </div>
</div>
</body>
</html>