<%- include ('partials/header.ejs'); -%>

<div class="container">
    <ul class="list-group">
        <h3>Copy and save this code!</h3>
        <li class="list-group-item disabled"><%=locals.user.code %></li>
    </ul>
    <a href="/" class="btn btn-secondary">Done</a>
</div>

</div>
</body>
</html>