<%- include ('partials/header.ejs'); -%>
    <div class="container-fluid"> 
        <h1>Under Construction</h1>
        <a  href="/addDoctor" class="btn btn-primary btn-sm" title="Add a new patient">Add doctor</a>

        <% if (doctor.length > 0) {%> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% doctor.forEach((doctor, doctors) => { %>
                        <tr>
                            <th scope="row"><%= doctor.id %></th>
                            <td><%= doctor.lastName %> </td>
                            <td><%= doctor.firstName %> </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No doctors found.</p>
        <% } %>
    </div>
</div>
</body>
</html>