<%- include ('partials/header.ejs'); -%>

<div class="container">
    <div class="row">
        <div class="col-md login">
            <h3> Login here <h3>

            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
            <form action="" method="post">
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="pword"></label>
                    <input type="password" class="form-control" id="pword" name="pword" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="pword"></label>
                    <input type="code" class="form-control" id="code" name="code" placeholder="Authenticator Code">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a href="/register" class="btn btn-secondary">Register</a>
        </div>
    </div>
</div>



</div>
</body>
</html>