<%- include ('partials/header.ejs'); -%>
    <div class="container-fluid"> 
        <a  href="/addmedication" class="btn btn-primary btn-sm" title="Add a new medication">Add medication</a>

        <% if (medication.length > 0) {%> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% medication.forEach((medication, medications) => { %>
                        <tr>
                            <th scope="row"><%= medication.id %></th>
                            <td><%= medication.name %> </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No medications found.</p>
        <% } %>
    </div>
</div>
</body>
</html>