<%- include ('partials/header.ejs'); -%>
    <div class="container-fluid"> 
        <a  href="/addnurse" class="btn btn-primary btn-sm" title="Add a new nurse">Add Nurse</a>

        <% if (nurse.length > 0) {%> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% nurse.forEach((nurse, nurses) => { %>
                        <tr>
                            <th scope="row"><%= nurse.id %></th>
                            <td><%= nurse.lastName %> </td>
                            <td><%= nurse.firstName %> </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No nurses found.</p>
        <% } %>
    </div>
</div>
</body>
</html>