<%- include ('partials/header.ejs'); -%>
  
        <div>
            <h1>Records</h1>
                <a href="/allergies/ <%= patient.id %> target="_blank" rel="noopener">Allergies</a>
            <p>Doctors</p>
            <p>Nurse</p>
            <p>Insurance</p>
            <p>Medications</p>
            <p>Medication Orders</p>
        </div>   
</div>
</body>
</html>
